Section-2/2.1-complete-video-factory/complete-video-factory.json
{
"nodes": [
{
"parameters": {},
"type": "n8n-nodes-base.limit",
"typeVersion": 1,
"position": [
460,
1680
],
"id": "3954771b-b5f4-47bd-9748-e19bee951fa9",
"name": "Limit"
},
{
"parameters": {
"options": {}
},
"type": "n8n-nodes-base.splitInBatches",
"typeVersion": 3,
"position": [
80,
2060
],
"id": "55b45e8c-5297-4d4a-b29e-d9441bb0a90d",
"name": "Loop Over Items"
},
{
"parameters": {
"method": "POST",
"url": "https://api.together.xyz/v1/images/generations",
"authentication": "genericCredentialType",
"genericAuthType": "httpBearerAuth",
"sendBody": true,
"bodyParameters": {
"parameters": [
{
"name": "model",
"value": "black-forest-labs/FLUX.1-schnell-Free"
},
{
"name": "prompt",
"value": "={{ $json.image_prompt }}"
},
{
"name": "width",
"value": "={{ 720 }}"
},
{
"name": "height",
"value": "={{ 1280 }}"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
400,
2060
],
"id": "7820f705-81d4-4d09-ba12-2b347037312b",
"name": "Generate AI image",
"alwaysOutputData": false,
"credentials": {
"httpBearerAuth": {
"id": "moweCBk6GwTWmnub",
"name": "Together AI test"
}
},
"onError": "continueErrorOutput"
},
{
"parameters": {
"method": "POST",
"url": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/storage",
"sendBody": true,
"contentType": "multipart-form-data",
"bodyParameters": {
"parameters": [
{
"name": "url",
"value": "={{ $json.data[0].url }}"
},
{
"name": "media_type",
"value": "image"
}
]
},
"options": {
"timeout": 10000
}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
640,
2000
],
"id": "55a81284-9e63-4399-aa72-5e7e08bfc7a6",
"name": "Upload image to server",
"retryOnFail": true
},
{
"parameters": {
"url": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/storage/{{ $('Start generating TTS (chatterbox)').item.json.file_id }}/status",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
1540,
2180
],
"id": "fd19b383-0798-4b52-be57-dee6804b99bb",
"name": "Get status of TTS generation",
"retryOnFail": true
},
{
"parameters": {
"rules": {
"values": [
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"leftValue": "={{ $json.status }}",
"rightValue": "ready",
"operator": {
"type": "string",
"operation": "equals"
},
"id": "91402596-3978-4dfc-91b7-9ffe3521b862"
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "ready"
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "0c29765e-4213-434c-9bf3-c5e854dd6ee8",
"leftValue": "={{ $json.status }}",
"rightValue": "processing",
"operator": {
"type": "string",
"operation": "equals",
"name": "filter.operator.equals"
}
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "processing"
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "4a6cfd86-e690-417e-aa6d-ae497e1177ae",
"leftValue": "={{ $json.status }}",
"rightValue": "not_found",
"operator": {
"type": "string",
"operation": "equals",
"name": "filter.operator.equals"
}
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "failed"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.switch",
"typeVersion": 3.2,
"position": [
1700,
2180
],
"id": "a9306a71-b0d2-4cc5-adfa-3223aa8ce723",
"name": "TTS status switch"
},
{
"parameters": {
"method": "POST",
"url": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/video-tools/generate/tts-captioned-video",
"sendBody": true,
"contentType": "form-urlencoded",
"specifyBody": "string",
"body": "={{ \n\n[\n  background_id=${$('Upload image to server').item.json.file_id},\n  $json.tts_audio_id ? audio_id=${$json.tts_audio_id} : false,\n  $json.tts_audio_id ? '' : text=${encodeURIComponent($('Loop Over Items').item.json.text)},\n  $json.tts_audio_id ? '' :  kokoro_voice=${$('Configure me').item.json.kokoro_voice},\n  $json.tts_audio_id ? '' : kokoro_speed=${$('Configure me').item.json.kokoro_speed}\n].filter(Boolean).join('&') \n\n}}",
"options": {
"redirect": {
"redirect": {}
}
}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
2400,
1980
],
"id": "6c816d7c-9567-450c-8f76-ffa5b487ad37",
"name": "Start generating captioned TTS video"
},
{
"parameters": {
"url": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/storage/{{ $('Start generating captioned TTS video').item.json.file_id }}/status",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
2800,
1980
],
"id": "bfd2c1e1-db39-4df9-b3b6-211ed8b36d99",
"name": "Get video generation status",
"retryOnFail": true
},
{
"parameters": {
"rules": {
"values": [
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"leftValue": "={{ $json.status }}",
"rightValue": "ready",
"operator": {
"type": "string",
"operation": "equals"
},
"id": "91402596-3978-4dfc-91b7-9ffe3521b862"
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "ready"
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "0c29765e-4213-434c-9bf3-c5e854dd6ee8",
"leftValue": "={{ $json.status }}",
"rightValue": "processing",
"operator": {
"type": "string",
"operation": "equals",
"name": "filter.operator.equals"
}
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "processing"
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "4a6cfd86-e690-417e-aa6d-ae497e1177ae",
"leftValue": "={{ $json.status }}",
"rightValue": "not_found",
"operator": {
"type": "string",
"operation": "equals",
"name": "filter.operator.equals"
}
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "failed"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.switch",
"typeVersion": 3.2,
"position": [
2980,
1980
],
"id": "b235397d-b427-4620-86d4-a2d541c8fbfe",
"name": "Video generation switch"
},
{
"parameters": {
"assignments": {
"assignments": [
{
"id": "a7fdacca-749e-4f69-84fd-50075e0e3409",
"name": "video_id",
"value": "={{ $('Start generating captioned TTS video').item.json.file_id }}",
"type": "string"
},
{
"id": "6c99c267-5c41-4697-ba19-b51d9e8c9a4e",
"name": "tts_id",
"value": "={{ $('Global TTS audio id').item.json.tts_audio_id }}",
"type": "string"
},
{
"id": "21dd08a7-f785-4829-8609-a99950f21572",
"name": "image_id",
"value": "={{ $('Upload image to server').item.json.file_id }}",
"type": "string"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.set",
"typeVersion": 3.4,
"position": [
3240,
2240
],
"id": "a75e38e6-4d57-44a3-a15d-d9541b87b90e",
"name": "Setup media fields"
},
{
"parameters": {
"aggregate": "aggregateAllItemData",
"options": {}
},
"type": "n8n-nodes-base.aggregate",
"typeVersion": 1,
"position": [
400,
2580
],
"id": "4384d674-15c6-4695-935e-13d2cb697441",
"name": "Combine loop items"
},
{
"parameters": {
"method": "POST",
"url": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/video-tools/merge",
"sendBody": true,
"contentType": "form-urlencoded",
"bodyParameters": {
"parameters": [
{
"name": "video_ids",
"value": "={{ $json.data.map(item => item.video_id).join(',') }}"
},
{
"name": "background_music_id",
"value": "={{ $('Configure me').item.json.background_music_id }}"
},
{
"name": "background_music_volume",
"value": "={{ $('Configure me').item.json.background_music_volume }}"
}
]
},
"options": {
"redirect": {
"redirect": {}
}
}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
600,
2580
],
"id": "986bd298-d9e0-4cb0-917c-b1baf6a6e266",
"name": "Start merging the videos"
},
{
"parameters": {
"url": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/storage/{{ $('Start merging the videos').item.json.file_id }}/status",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
1020,
2580
],
"id": "16f5ed4f-a0b6-4cec-be70-d0e65407c449",
"name": "Get status of the video merge"
},
{
"parameters": {
"rules": {
"values": [
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"leftValue": "={{ $json.status }}",
"rightValue": "ready",
"operator": {
"type": "string",
"operation": "equals"
},
"id": "91402596-3978-4dfc-91b7-9ffe3521b862"
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "ready"
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "0c29765e-4213-434c-9bf3-c5e854dd6ee8",
"leftValue": "={{ $json.status }}",
"rightValue": "processing",
"operator": {
"type": "string",
"operation": "equals",
"name": "filter.operator.equals"
}
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "processing"
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "4a6cfd86-e690-417e-aa6d-ae497e1177ae",
"leftValue": "={{ $json.status }}",
"rightValue": "not_found",
"operator": {
"type": "string",
"operation": "equals",
"name": "filter.operator.equals"
}
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "failed"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.switch",
"typeVersion": 3.2,
"position": [
1200,
2580
],
"id": "baff6a17-f739-4395-a269-a26c03020866",
"name": "Video merge status switch"
},
{
"parameters": {
"assignments": {
"assignments": [
{
"id": "13b0dde8-b067-41d2-b7c2-fa5addf56a25",
"name": "download_url",
"value": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/storage/{{ $('Start merging the videos').item.json.file_id }}",
"type": "string"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.set",
"typeVersion": 3.4,
"position": [
2000,
2580
],
"id": "e8061207-1966-4d93-acf4-d2ebcda510df",
"name": "Setup final video download URL"
},
{
"parameters": {
"amount": 10
},
"type": "n8n-nodes-base.wait",
"typeVersion": 1.1,
"position": [
640,
2160
],
"id": "547915c9-6c13-47bf-86aa-c99dc5d87d25",
"name": "Wait for the error / rate limit to go away",
"webhookId": "18721630-ff12-4eb6-8a9a-c0d229d2b66d"
},
{
"parameters": {
"amount": 1
},
"type": "n8n-nodes-base.wait",
"typeVersion": 1.1,
"position": [
1360,
2180
],
"id": "86415e45-7b22-4453-a7fd-16d99b509cdc",
"name": "Wait until the TTS gets generated",
"webhookId": "6d2b79ce-2195-4a5e-b298-c88325874732"
},
{
"parameters": {
"method": "POST",
"url": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/audio-tools/tts/chatterbox",
"sendBody": true,
"contentType": "multipart-form-data",
"bodyParameters": {
"parameters": [
{
"name": "text",
"value": "={{ $('Loop Over Items').item.json.text }}"
},
{
"name": "sample_audio_id",
"value": "={{ $('Configure me').item.json.chatterbox_clone_voice_id ?? '' }}"
},
{
"name": "exaggeration",
"value": "={{ $('Configure me').item.json.chatterbox_exaggeration }}"
},
{
"name": "cfg_weight",
"value": "={{ $('Configure me').item.json.chatterbox_cfg_weight }}"
},
{
"name": "temperature",
"value": "={{ $('Configure me').item.json.chatterbox_temperature }}"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
1180,
2180
],
"id": "db246569-527c-4e67-aa89-bfff06436221",
"name": "Start generating TTS (chatterbox)"
},
{
"parameters": {
"amount": 1
},
"type": "n8n-nodes-base.wait",
"typeVersion": 1.1,
"position": [
2600,
1980
],
"id": "0d599375-5b00-42fa-b42f-f2fb7da25b58",
"name": "Wait until the video gets generated",
"webhookId": "b3ef2a8a-d699-4735-86fe-c586c6cb3bc8"
},
{
"parameters": {
"amount": 1
},
"type": "n8n-nodes-base.wait",
"typeVersion": 1.1,
"position": [
820,
2580
],
"id": "b01b2364-3154-4afe-bbc0-bd3d7937760c",
"name": "Wait until the videos gets merged together",
"webhookId": "ef9f90e0-9b56-4b49-b7a3-42cdbe90784e"
},
{
"parameters": {
"documentId": {
"__rl": true,
"value": "1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg",
"mode": "list",
"cachedResultName": "reddit_story_template",
"cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg/edit?usp=drivesdk"
},
"sheetName": {
"__rl": true,
"value": "gid=0",
"mode": "list",
"cachedResultName": "Sheet1",
"cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg/edit#gid=0"
},
"filtersUI": {
"values": [
{
"lookupColumn": "status"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 4.6,
"position": [
340,
1680
],
"id": "84dd9fea-8428-4b26-88a7-261acdbff1a4",
"name": "Get story",
"alwaysOutputData": true,
"credentials": {
"googleSheetsOAuth2Api": {
"id": "gOydYxOocorPbvLX",
"name": "Google Sheets account"
}
}
},
{
"parameters": {
"rules": {
"values": [
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"leftValue": "={{ $('Configure me').item.json.tts_engine }}",
"rightValue": "kokoro",
"operator": {
"type": "string",
"operation": "equals"
},
"id": "5ae108d7-13b2-41aa-ab18-45a80515ad51"
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "kokoro"
},
{
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "a3dbceb9-96f7-4f78-b5e4-81bd6cb9a422",
"leftValue": "={{ $('Configure me').item.json.tts_engine }}",
"rightValue": "chatterbox",
"operator": {
"type": "string",
"operation": "equals",
"name": "filter.operator.equals"
}
}
],
"combinator": "and"
},
"renameOutput": true,
"outputKey": "chatterbox"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.switch",
"typeVersion": 3.2,
"position": [
960,
1980
],
"id": "bd836280-562d-4472-8e26-6c9e61b4e0cc",
"name": "TTS switch"
},
{
"parameters": {
"assignments": {
"assignments": [
{
"id": "d41f1ef6-7591-41b7-805d-94b58caba5c4",
"name": "tts_audio_id",
"value": "={{ $('Start generating TTS (chatterbox)').item.json.file_id }}",
"type": "string"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.set",
"typeVersion": 3.4,
"position": [
1960,
2160
],
"id": "9b02105f-cf31-4382-89d9-8ebec319c364",
"name": "Setup TTS file_id"
},
{
"parameters": {
"assignments": {
"assignments": [
{
"id": "87d65a77-d25e-42b2-86ac-7b1c4efb2990",
"name": "text",
"value": "={{ $json.text.includes(\"<think>\") ? $json.text.split(\"</think>\")[1].trim() : $json.text.trim() }}",
"type": "string"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.set",
"typeVersion": 3.4,
"position": [
1260,
1540
],
"id": "80f06cb5-fd00-4fce-829e-4f6378a85b0c",
"name": "Cleanup text"
},
{
"parameters": {
"model": {
"__rl": true,
"value": "gpt-4.1-mini",
"mode": "list",
"cachedResultName": "gpt-4.1-mini"
},
"options": {}
},
"type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
"typeVersion": 1.2,
"position": [
1560,
1740
],
"id": "30e4aac2-0f7d-458e-a2fe-07d7e351c038",
"name": "OpenAI Chat Model",
"credentials": {
"openAiApi": {
"id": "AA65xz9Vi0Pnrj5E",
"name": "OpenAi account"
}
}
},
{
"parameters": {
"assignments": {
"assignments": [
{
"id": "68de9e0e-e234-4509-a57a-4c4c42590620",
"name": "tts_audio_id",
"value": "={{ $json.tts_audio_id }}",
"type": "string"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.set",
"typeVersion": 3.4,
"position": [
2220,
1980
],
"id": "9dc2a6d2-d65c-453a-a0d1-ad572c59ccdd",
"name": "Global TTS audio id"
},
{
"parameters": {
"content": "# 4. Pick a story ⚠️\nmake sure to add the video_id filter with an empty value",
"height": 400,
"width": 600
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
300,
1460
],
"id": "eaaea957-d585-4572-a15a-083ddeddec53",
"name": "Sticky Note4"
},
{
"parameters": {
"content": "# 5. Create script from the story",
"height": 400,
"width": 880
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
940,
1460
],
"id": "cfdb0554-907e-497f-93fe-bd8402a777b8",
"name": "Sticky Note5"
},
{
"parameters": {
"content": "# 9. Merge the videos",
"height": 360,
"width": 1180
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
300,
2460
],
"id": "9124d432-b1be-447a-898a-f95074391fc6",
"name": "Sticky Note6"
},
{
"parameters": {
"operation": "update",
"documentId": {
"__rl": true,
"value": "1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg",
"mode": "list",
"cachedResultName": "reddit_story_template",
"cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg/edit?usp=drivesdk"
},
"sheetName": {
"__rl": true,
"value": "gid=0",
"mode": "list",
"cachedResultName": "Sheet1",
"cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg/edit#gid=0"
},
"columns": {
"mappingMode": "defineBelow",
"value": {
"id": "={{ $('Get story').item.json.id }}",
"status": "merged",
"video_id": "={{ $('Start merging the videos').item.json.file_id }}"
},
"matchingColumns": [
"id"
],
"schema": [
{
"id": "id",
"displayName": "id",
"required": false,
"defaultMatch": true,
"display": true,
"type": "string",
"canBeUsedToMatch": true,
"removed": false
},
{
"id": "title",
"displayName": "title",
"required": false,
"defaultMatch": false,
"display": true,
"type": "string",
"canBeUsedToMatch": true
},
{
"id": "content",
"displayName": "content",
"required": false,
"defaultMatch": false,
"display": true,
"type": "string",
"canBeUsedToMatch": true
},
{
"id": "video_id",
"displayName": "video_id",
"required": false,
"defaultMatch": false,
"display": true,
"type": "string",
"canBeUsedToMatch": true
},
{
"id": "status",
"displayName": "status",
"required": false,
"defaultMatch": false,
"display": true,
"type": "string",
"canBeUsedToMatch": true,
"removed": false
},
{
"id": "row_number",
"displayName": "row_number",
"required": false,
"defaultMatch": false,
"display": true,
"type": "string",
"canBeUsedToMatch": true,
"readOnly": true,
"removed": true
}
],
"attemptToConvertTypes": false,
"convertFieldsToString": false
},
"options": {}
},
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 4.6,
"position": [
1740,
2600
],
"id": "82c02192-834e-4a48-aebd-00406977936c",
"name": "Save the video id",
"credentials": {
"googleSheetsOAuth2Api": {
"id": "gOydYxOocorPbvLX",
"name": "Google Sheets account"
}
}
},
{
"parameters": {
"content": "# 6. Generate an image with Flux ⚠️",
"height": 520,
"width": 580
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
300,
1900
],
"id": "f91dc168-e635-48ee-870d-3e64b81531ee",
"name": "Sticky Note7"
},
{
"parameters": {
"content": "# 7. Create speech from text",
"height": 520,
"width": 1200
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
920,
1900
],
"id": "59b2e684-fcda-4b3a-91e0-0d1648f45132",
"name": "Sticky Note8"
},
{
"parameters": {
"content": "# 8. Generate captioned video",
"height": 520,
"width": 1240
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
2160,
1900
],
"id": "b9aaf93e-de10-41f8-857f-712cf028abce",
"name": "Sticky Note9"
},
{
"parameters": {
"content": "# 10. Save to Sheets ⚠️",
"height": 360,
"width": 380
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
1520,
2460
],
"id": "3adbd99e-ee03-4c8b-9d63-ef55d55dbeb6",
"name": "Sticky Note11"
},
{
"parameters": {
"url": "={{ $('Setup final video download URL').item.json.download_url }}",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
2400,
2580
],
"id": "d7cdddae-dd82-4bc3-a261-303b6b40dbea",
"name": "Download the video"
},
{
"parameters": {
"text": "=<Instructions>\nBreak up the text to multiple chunks that I can use for generating a youtube video, and for each chunk add an image generation prompt.\n\nAlso create a title and a description for the video.\n\nUse the following art style for the image prompts:\n\nArt style:\n{{ $('Configure me').item.json.art_style }}\n\n</Instructions>\n\n<Text>\n{{ $json.text }}\n</Text>\n\n/nothink",
"schemaType": "manual",
"inputSchema": "{\n    \"type\": \"object\",\n    \"properties\": {\n        \"scenes\": {\n            \"type\": \"array\",\n            \"description\": \"user name\",\n            \"items\": {\n                \"type\": \"object\",\n                \"properties\": {\n                    \"text\": {\n                        \"type\": \"string\",\n                        \"description\": \"the text of the scene, it will be used for TTS\"\n                    },\n                    \"image_prompt\": {\n                        \"type\": \"string\",\n                        \"description\": \"prompt for image generation\"\n                    }\n                },\n                \"required\": [\n                    \"text\",\n                    \"image_prompt\"\n                ]\n            }\n        },\n        \"title\": {\n            \"type\": \"string\",\n            \"description\": \"the title of the youtube video\"\n        },\n        \"description\": {\n            \"type\": \"string\",\n            \"description\": \"the description of the youtube video\"\n        }\n    },\n    \"required\": [\n        \"scenes\",\n        \"title\",\n        \"description\"\n    ]\n}",
"options": {}
},
"type": "@n8n/n8n-nodes-langchain.informationExtractor",
"typeVersion": 1.1,
"position": [
1380,
1540
],
"id": "23780bae-bec6-4468-b573-03b7d48a353d",
"name": "Create the script"
},
{
"parameters": {
"promptType": "define",
"text": "=<Instructions>\nUsing the below content, create 10-30s long {{ $('Configure me').item.json.content_type }}.\nThe generated script will be used in a YouTube video.\nReturn clear text, no markdowns or any other styling is needed.\n</Instructions>\n\n<Post>\n{{ $('Limit').item.json.title }}\n\n{{ $('Limit').item.json.content }}\n</Post>\n\n/nothink",
"batching": {}
},
"type": "@n8n/n8n-nodes-langchain.chainLlm",
"typeVersion": 1.7,
"position": [
980,
1540
],
"id": "5b40a62b-7d61-443f-8e5a-db920da6a06e",
"name": "Create the motivational speech"
},
{
"parameters": {
"fieldToSplitOut": "output.scenes",
"options": {}
},
"type": "n8n-nodes-base.splitOut",
"typeVersion": 1,
"position": [
1680,
1540
],
"id": "23ed07c9-fd83-421c-82c1-3e8c95555547",
"name": "Split Out"
},
{
"parameters": {
"content": "# 11. Upload to YouTube ⚠️",
"height": 360,
"width": 900,
"color": 4
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
1940,
2460
],
"id": "36ab96aa-7c21-4826-ba79-c667eafda284",
"name": "Sticky Note13"
},
{
"parameters": {
"method": "POST",
"url": "https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status&uploadType=resumable",
"authentication": "predefinedCredentialType",
"nodeCredentialType": "youTubeOAuth2Api",
"sendHeaders": true,
"headerParameters": {
"parameters": [
{
"name": "Content-Type",
"value": "application/json"
},
{
"name": "X-Upload-Content-Type",
"value": "video/mp4"
}
]
},
"sendBody": true,
"contentType": "raw",
"rawContentType": "RAW/JSON",
"body": "={\n  \"snippet\": {\n    \"title\": \"{{ $('Create the script').item.json.output.title }}\",\n    \"description\": \"{{ $('Create the script').item.json.output.description }}\",\n    \"tags\": \"\",\n    \"categoryId\": \"24\",\n    \"defaultLanguage\": \"en\",\n    \"defaultAudioLanguage\": \"en\"\n  },\n  \"status\": {\n    \"privacyStatus\": \"public\",\n    \"license\": \"youtube\",\n    \"embeddable\": true,\n    \"publicStatsViewable\": true,\n    \"madeForKids\": false\n  }\n}\n",
"options": {
"response": {
"response": {
"fullResponse": true
}
}
}
},
"id": "afa7f86a-0bfe-4b2a-8768-15ff16ec4bee",
"name": "Start Youtube upload",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.1,
"position": [
2200,
2580
],
"disabled": true
},
{
"parameters": {
"method": "PUT",
"url": "={{ $('Download the video').item.json.headers.location }}",
"authentication": "predefinedCredentialType",
"nodeCredentialType": "youTubeOAuth2Api",
"sendHeaders": true,
"headerParameters": {
"parameters": [
{
"name": "Content-Type",
"value": "video/mp4"
}
]
},
"sendBody": true,
"contentType": "binaryData",
"inputDataFieldName": "data",
"options": {}
},
"id": "d3c48f21-4d78-48a9-b15e-d323bf595c4d",
"name": "Upload video to YouTube",
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.1,
"position": [
2600,
2580
],
"disabled": true
},
{
"parameters": {
"url": "=https://www.reddit.com/r/{{ $('Configure me').item.json.subreddit }}/top.json?t=month&limit=100",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
880,
1240
],
"id": "f6fb7d92-6218-410e-8732-9ba58146277a",
"name": "Get stories from reddit"
},
{
"parameters": {
"fieldToSplitOut": "data.children",
"options": {}
},
"type": "n8n-nodes-base.splitOut",
"typeVersion": 1,
"position": [
1040,
1240
],
"id": "d5a3a492-8872-40c9-a35a-561e90d765d4",
"name": "For Each story"
},
{
"parameters": {
"operation": "appendOrUpdate",
"documentId": {
"__rl": true,
"value": "12roXp7Ds8S0nA_Us2MjdKkAldJYUdTV80A7vcjwR6yI",
"mode": "list",
"cachedResultName": "reddit stories",
"cachedResultUrl": "https://docs.google.com/spreadsheets/d/12roXp7Ds8S0nA_Us2MjdKkAldJYUdTV80A7vcjwR6yI/edit?usp=drivesdk"
},
"sheetName": {
"__rl": true,
"value": "gid=0",
"mode": "list",
"cachedResultName": "Sheet1",
"cachedResultUrl": "https://docs.google.com/spreadsheets/d/12roXp7Ds8S0nA_Us2MjdKkAldJYUdTV80A7vcjwR6yI/edit#gid=0"
},
"columns": {
"mappingMode": "defineBelow",
"value": {
"title": "={{ $json.data.title }}",
"content": "={{ $json.data.selftext }}",
"id": "={{ $json.data.id }}"
},
"matchingColumns": [
"id"
],
"schema": [
{
"id": "id",
"displayName": "id",
"required": false,
"defaultMatch": true,
"display": true,
"type": "string",
"canBeUsedToMatch": true,
"removed": false
},
{
"id": "title",
"displayName": "title",
"required": false,
"defaultMatch": false,
"display": true,
"type": "string",
"canBeUsedToMatch": true
},
{
"id": "content",
"displayName": "content",
"required": false,
"defaultMatch": false,
"display": true,
"type": "string",
"canBeUsedToMatch": true
},
{
"id": "video_id",
"displayName": "video_id",
"required": false,
"defaultMatch": false,
"display": true,
"type": "string",
"canBeUsedToMatch": true,
"removed": false
}
],
"attemptToConvertTypes": false,
"convertFieldsToString": false
},
"options": {}
},
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 4.6,
"position": [
1200,
1240
],
"id": "2b5c86e5-8f22-42fe-b957-a7bb4acf6733",
"name": "Save it to Google Sheets",
"retryOnFail": true,
"credentials": {
"googleSheetsOAuth2Api": {
"id": "gOydYxOocorPbvLX",
"name": "Google Sheets account"
}
}
},
{
"parameters": {
"content": "# 2. Update reddit stories ⚠️",
"height": 300,
"width": 1220
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
300,
1120
],
"id": "77aa7376-afc2-4120-83a6-838e7209b101",
"name": "Sticky Note17"
},
{
"parameters": {
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "673ecb92-5253-45ae-ab8b-17d673845442",
"leftValue": "={{ $('Configure me').item.json.update_reddit_stories }}",
"rightValue": "yes",
"operator": {
"type": "boolean",
"operation": "true",
"singleValue": true
}
},
{
"id": "9a8bc757-1144-451d-b36a-18e74140a30e",
"leftValue": "={{ !$('Aggregate').item.json.data?.[0] }}",
"rightValue": 1,
"operator": {
"type": "boolean",
"operation": "true",
"singleValue": true
}
}
],
"combinator": "or"
},
"options": {}
},
"type": "n8n-nodes-base.if",
"typeVersion": 2.2,
"position": [
620,
1220
],
"id": "665833df-d281-484b-aaa9-5d0d8d887f95",
"name": "Update reddit stories?"
},
{
"parameters": {
"assignments": {
"assignments": [
{
"id": "7bbb518a-c4f1-49a5-9e72-3e9d939b131b",
"name": "vdo_factory_api_url",
"value": "http://vdo-factory:8000",
"type": "string"
},
{
"id": "485a5788-cda6-4015-aa8d-d7b7ff012266",
"name": "subreddit",
"value": "selfimprovement",
"type": "string"
},
{
"id": "afa3df27-f529-452f-8976-63a0af466584",
"name": "content_type",
"value": "motivational speech",
"type": "string"
},
{
"id": "ddd725fb-b9f6-45d6-90df-88c50ba53a20",
"name": "art_style",
"value": "=Use the following prompt as a template for the image generation prompt, use the content to create a unique image for the scene.\n\nCreate an artistic image in a vibrant, emotionally uplifting illustration style, with warm sunlight and a soft pastel or golden color palette. The subject is a figure [doing something meaningful, like reaching toward the sky, walking through a blooming field, reading a book under morning light, or anything that fits the theme], captured with a balanced perspective that brings the viewer closer to the scene.\n\nThe surroundings should be rich in detail, with natural elements like flowers, trees, birds, or clouds subtly enhancing the hopeful mood. The composition should emphasize growth, warmth, and inner strength.\n\nThe overall visual should feel like a moment of inspiration and quiet triumph — as if it were taken from a beautifully illustrated storybook about resilience and personal transformation.",
"type": "string"
},
{
"id": "b6976890-42b5-4825-8fc3-526678cfbd4f",
"name": "tts_engine",
"value": "kokoro",
"type": "string"
},
{
"id": "b1c7d90a-c4b4-4462-9a1e-1a4e2f55a47f",
"name": "background_music_id",
"value": "",
"type": "string"
},
{
"id": "fe269a35-b6d8-484f-8baa-2b4399413e56",
"name": "background_music_volume",
"value": 0.2,
"type": "number"
},
{
"id": "fb5773a2-8374-4588-b4de-d0d00d397230",
"name": "update_reddit_stories",
"value": false,
"type": "boolean"
},
{
"id": "0df07901-3183-4162-afed-343be4672b0b",
"name": "kokoro_voice",
"value": "af_heart",
"type": "string"
},
{
"id": "a4f77412-1faa-46cb-8733-7db3030178bf",
"name": "kokoro_speed",
"value": 1,
"type": "number"
},
{
"id": "f816dcd8-f051-44e4-ae2f-7c625ff0a860",
"name": "chatterbox_exaggeration",
"value": 0.5,
"type": "number"
},
{
"id": "f50bd34d-96a2-47f6-9fc7-83c9b7ee37ee",
"name": "chatterbox_cfg_weight",
"value": 0.5,
"type": "number"
},
{
"id": "57765221-35ae-47ed-bf38-d8ba793623a6",
"name": "chatterbox_temperature",
"value": 0.8,
"type": "number"
},
{
"id": "1ee8f575-8e75-480a-9106-189ac14bfeb5",
"name": "chatterbox_clone_voice_id",
"value": "",
"type": "string"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.set",
"typeVersion": 3.4,
"position": [
660,
920
],
"id": "3f79d829-33f6-424f-9e40-2f490b1d13cd",
"name": "Configure me"
},
{
"parameters": {
"content": "# Configure me ⚠️",
"height": 340,
"width": 300,
"color": 3
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
560,
760
],
"id": "655e06fe-9ae9-47dc-b73d-606c56804a4a",
"name": "Sticky Note12"
},
{
"parameters": {
"documentId": {
"__rl": true,
"value": "1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg",
"mode": "list",
"cachedResultName": "reddit_story_template",
"cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg/edit?usp=drivesdk"
},
"sheetName": {
"__rl": true,
"value": "gid=0",
"mode": "list",
"cachedResultName": "Sheet1",
"cachedResultUrl": "https://docs.google.com/spreadsheets/d/1G3pZ8gUgGNnbkslvK8CUh94P5bA9mY_rS9F-jn94YMg/edit#gid=0"
},
"options": {}
},
"type": "n8n-nodes-base.googleSheets",
"typeVersion": 4.6,
"position": [
340,
1220
],
"id": "e10f88e0-5a20-4d5a-ac75-4858f46f104a",
"name": "Get one row from Sheets",
"alwaysOutputData": true,
"credentials": {
"googleSheetsOAuth2Api": {
"id": "gOydYxOocorPbvLX",
"name": "Google Sheets account"
}
}
},
{
"parameters": {
"conditions": {
"options": {
"caseSensitive": true,
"leftValue": "",
"typeValidation": "strict",
"version": 2
},
"conditions": [
{
"id": "9aa0ae35-303b-40f5-8556-2af39e621abf",
"leftValue": "={{ $('Get story').item.json.keys().length }}",
"rightValue": 0,
"operator": {
"type": "number",
"operation": "equals"
}
}
],
"combinator": "and"
},
"options": {}
},
"type": "n8n-nodes-base.if",
"typeVersion": 2.2,
"position": [
580,
1680
],
"id": "dfd44c1f-c240-49db-b7fb-e9e8a768cf69",
"name": "If"
},
{
"parameters": {
"errorMessage": "No more stories! Please download more"
},
"type": "n8n-nodes-base.stopAndError",
"typeVersion": 1,
"position": [
760,
1520
],
"id": "1e813671-f38a-40e5-ad12-dff98f174418",
"name": "No more stories"
},
{
"parameters": {
"aggregate": "aggregateAllItemData",
"options": {}
},
"type": "n8n-nodes-base.aggregate",
"typeVersion": 1,
"position": [
480,
1220
],
"id": "38850cfe-62a4-4be1-b970-e0795278661e",
"name": "Aggregate"
},
{
"parameters": {
"url": "={{ $json.vdo_factory_api_url }}/health",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
940,
960
],
"id": "2c7eb56c-1d60-48f9-93f0-061fd6faaf76",
"name": "HTTP Request",
"onError": "continueErrorOutput"
},
{
"parameters": {
"errorMessage": "The server is not running or isn't configured"
},
"type": "n8n-nodes-base.stopAndError",
"typeVersion": 1,
"position": [
1120,
860
],
"id": "4fe0c8a3-df93-4fab-a1f8-d3152f3850bb",
"name": "Server isn't ready"
},
{
"parameters": {
"content": "# Test connection",
"height": 340,
"width": 360
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
900,
760
],
"id": "52549ce7-747f-47c5-8690-73e859818625",
"name": "Sticky Note15"
},
{
"parameters": {
"aggregate": "aggregateAllItemData",
"options": {}
},
"type": "n8n-nodes-base.aggregate",
"typeVersion": 1,
"position": [
1360,
1240
],
"id": "ddec449a-1a1c-4c8a-99db-86ca33124425",
"name": "Combine"
},
{
"parameters": {
"content": "# cleanup (removing tmp files)\nif you want to delete the generated video too, add it's id to the array",
"height": 360,
"width": 540
},
"type": "n8n-nodes-base.stickyNote",
"typeVersion": 1,
"position": [
2880,
2460
],
"id": "d0b67b2f-b71f-418e-8720-4ff056d9c07a",
"name": "Sticky Note"
},
{
"parameters": {
"assignments": {
"assignments": [
{
"id": "27bcaf96-fcaa-41cb-8a51-436870ce2110",
"name": "file_ids",
"value": "={{ [...$('Combine loop items').item.json.data.map(item => [item.video_id, item.tts_id, item.image_id]).flat(), $('Configure me').item.json.chatterbox_clone_voice_id, $('Configure me').item.json.background_music_id].filter(Boolean) }}",
"type": "array"
},
{
"id": "ff26af44-84ff-46a0-8532-5eeca8dbb099",
"name": "",
"value": "",
"type": "string"
}
]
},
"options": {}
},
"type": "n8n-nodes-base.set",
"typeVersion": 3.4,
"position": [
2920,
2580
],
"id": "8feb5e78-6bad-4b18-8fb3-bdb9d907c9de",
"name": "Set file ids to delete"
},
{
"parameters": {
"method": "DELETE",
"url": "={{ $('Configure me').item.json.vdo_factory_api_url }}/api/v1/media/storage/{{ $json.file_ids }}",
"options": {}
},
"type": "n8n-nodes-base.httpRequest",
"typeVersion": 4.2,
"position": [
3240,
2580
],
"id": "de810fad-0cbf-4f99-a85e-920238d254cf",
"name": "Delete tmp files",
"disabled": true
},
{
"parameters": {
"fieldToSplitOut": "file_ids",
"options": {}
},
"type": "n8n-nodes-base.splitOut",
"typeVersion": 1,
"position": [
3080,
2580
],
"id": "eac323f9-3e0d-4916-9553-8adf91db03dc",
"name": "For each file"
},
{
"parameters": {},
"type": "n8n-nodes-base.manualTrigger",
"typeVersion": 1,
"position": [
360,
920
],
"id": "82634809-fd01-4d6e-bc9a-201ed8fb18a9",
"name": "When clicking 'Execute workflow'"
}
],
"connections": {
"Limit": {
"main": [
[
{
"node": "If",
"type": "main",
"index": 0
}
]
]
},
"Loop Over Items": {
"main": [
[
{
"node": "Combine loop items",
"type": "main",
"index": 0
}
],
[
{
"node": "Generate AI image",
"type": "main",
"index": 0
}
]
]
},
"Generate AI image": {
"main": [
[
{
"node": "Upload image to server",
"type": "main",
"index": 0
}
],
[
{
"node": "Wait for the error / rate limit to go away",
"type": "main",
"index": 0
}
]
]
},
"Upload image to server": {
"main": [
[
{
"node": "TTS switch",
"type": "main",
"index": 0
}
]
]
},
"Get status of TTS generation": {
"main": [
[
{
"node": "TTS status switch",
"type": "main",
"index": 0
}
]
]
},
"TTS status switch": {
"main": [
[
{
"node": "Setup TTS file_id",
"type": "main",
"index": 0
}
],
[
{
"node": "Wait until the TTS gets generated",
"type": "main",
"index": 0
}
],
[
{
"node": "Start generating TTS (chatterbox)",
"type": "main",
"index": 0
}
]
]
},
"Start generating captioned TTS video": {
"main": [
[
{
"node": "Wait until the video gets generated",
"type": "main",
"index": 0
}
]
]
},
"Get video generation status": {
"main": [
[
{
"node": "Video generation switch",
"type": "main",
"index": 0
}
]
]
},
"Video generation switch": {
"main": [
[
{
"node": "Setup media fields",
"type": "main",
"index": 0
}
],
[
{
"node": "Wait until the video gets generated",
"type": "main",
"index": 0
}
]
]
},
"Setup media fields": {
"main": [
[
{
"node": "Loop Over Items",
"type": "main",
"index": 0
}
]
]
},
"Combine loop items": {
"main": [
[
{
"node": "Start merging the videos",
"type": "main",
"index": 0
}
]
]
},
"Start merging the videos": {
"main": [
[
{
"node": "Wait until the videos gets merged together",
"type": "main",
"index": 0
}
]
]
},
"Get status of the video merge": {
"main": [
[
{
"node": "Video merge status switch",
"type": "main",
"index": 0
}
]
]
},
"Video merge status switch": {
"main": [
[
{
"node": "Save the video id",
"type": "main",
"index": 0
}
],
[
{
"node": "Wait until the videos gets merged together",
"type": "main",
"index": 0
}
]
]
},
"Setup final video download URL": {
"main": [
[
{
"node": "Start Youtube upload",
"type": "main",
"index": 0
}
]
]
},
"Wait for the error / rate limit to go away": {
"main": [
[
{
"node": "Generate AI image",
"type": "main",
"index": 0
}
]
]
},
"Wait until the TTS gets generated": {
"main": [
[
{
"node": "Get status of TTS generation",
"type": "main",
"index": 0
}
]
]
},
"Start generating TTS (chatterbox)": {
"main": [
[
{
"node": "Wait until the TTS gets generated",
"type": "main",
"index": 0
}
]
]
},
"Wait until the video gets generated": {
"main": [
[
{
"node": "Get video generation status",
"type": "main",
"index": 0
}
]
]
},
"Wait until the videos gets merged together": {
"main": [
[
{
"node": "Get status of the video merge",
"type": "main",
"index": 0
}
]
]
},
"Get story": {
"main": [
[
{
"node": "Limit",
"type": "main",
"index": 0
}
]
]
},
"TTS switch": {
"main": [
[
{
"node": "Global TTS audio id",
"type": "main",
"index": 0
}
],
[
{
"node": "Start generating TTS (chatterbox)",
"type": "main",
"index": 0
}
]
]
},
"Setup TTS file_id": {
"main": [
[
{
"node": "Global TTS audio id",
"type": "main",
"index": 0
}
]
]
},
"Cleanup text": {
"main": [
[
{
"node": "Create the script",
"type": "main",
"index": 0
}
]
]
},
"OpenAI Chat Model": {
"ai_languageModel": [
[
{
"node": "Create the motivational speech",
"type": "ai_languageModel",
"index": 0
},
{
"node": "Create the script",
"type": "ai_languageModel",
"index": 0
}
]
]
},
"Global TTS audio id": {
"main": [
[
{
"node": "Start generating captioned TTS video",
"type": "main",
"index": 0
}
]
]
},
"Save the video id": {
"main": [
[
{
"node": "Setup final video download URL",
"type": "main",
"index": 0
}
]
]
},
"Download the video": {
"main": [
[
{
"node": "Upload video to YouTube",
"type": "main",
"index": 0
}
]
]
},
"Create the script": {
"main": [
[
{
"node": "Split Out",
"type": "main",
"index": 0
}
]
]
},
"Create the motivational speech": {
"main": [
[
{
"node": "Cleanup text",
"type": "main",
"index": 0
}
]
]
},
"Split Out": {
"main": [
[
{
"node": "Loop Over Items",
"type": "main",
"index": 0
}
]
]
},
"Start Youtube upload": {
"main": [
[
{
"node": "Download the video",
"type": "main",
"index": 0
}
]
]
},
"Upload video to YouTube": {
"main": [
[
{
"node": "Set file ids to delete",
"type": "main",
"index": 0
}
]
]
},
"Get stories from reddit": {
"main": [
[
{
"node": "For Each story",
"type": "main",
"index": 0
}
]
]
},
"For Each story": {
"main": [
[
{
"node": "Save it to Google Sheets",
"type": "main",
"index": 0
}
]
]
},
"Save it to Google Sheets": {
"main": [
[
{
"node": "Combine",
"type": "main",
"index": 0
}
]
]
},
"Update reddit stories?": {
"main": [
[
{
"node": "Get stories from reddit",
"type": "main",
"index": 0
}
],
[
{
"node": "Get story",
"type": "main",
"index": 0
}
]
]
},
"Configure me": {
"main": [
[
{
"node": "HTTP Request",
"type": "main",
"index": 0
}
]
]
},
"Get one row from Sheets": {
"main": [
[
{
"node": "Aggregate",
"type": "main",
"index": 0
}
]
]
},
"If": {
"main": [
[
{
"node": "No more stories",
"type": "main",
"index": 0
}
],
[
{
"node": "Create the motivational speech",
"type": "main",
"index": 0
}
]
]
},
"Aggregate": {
"main": [
[
{
"node": "Update reddit stories?",
"type": "main",
"index": 0
}
]
]
},
"HTTP Request": {
"main": [
[
{
"node": "Get one row from Sheets",
"type": "main",
"index": 0
}
],
[
{
"node": "Server isn't ready",
"type": "main",
"index": 0
}
]
]
},
"Combine": {
"main": [
[
{
"node": "Get story",
"type": "main",
"index": 0
}
]
]
},
"Set file ids to delete": {
"main": [
[
{
"node": "For each file",
"type": "main",
"index": 0
}
]
]
},
"For each file": {
"main": [
[
{
"node": "Delete tmp files",
"type": "main",
"index": 0
}
]
]
},
"When clicking 'Execute workflow'": {
"main": [
[
{
"node": "Configure me",
"type": "main",
"index": 0
}
]
]
}
},
"pinData": {},
"meta": {
"templateCredsSetupCompleted": true,
"instanceId": "339979314200287f32affa09285453b9225a94604e8beacf6d02da846d7818bd"
}
}